<%- include('../partials/header.ejs') %>

<p>Please first ensure that the Destination is not in the dropdown</p>
<select>
    <% destinations.forEach(function(d) { %>
      <option><%= d.airport %></option>
    <% }) %>
  </select>
</p>
<form id="add-destination-form" action="/destinations" method="POST">
  <label>Airport:</label>
  <input type="text" name="airport" oninput="this.value = this.value.toUpperCase()">
  <input type="submit" value="Add Destination">
</form>
<tbody>
    <h4>Destinations:</h4>
    <% destinations.forEach((d)=> { %> 
        <td><%= d.airport %><br></td>
        <td>
            <form action="flights/<%= d._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
            </form>
        </td>
</tbody>
<% }) %> 

<%- include('../partials/footer.ejs') %>