<%- include('../partials/header.ejs') %>

  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Airline</th>
        <th>Flight No.</th>
        <th>Depart</th>
        <!-- <th>Departed</th> -->
      </tr>
    </thead>
    <tbody>
      <!-- Write the line of EJS to iterate over movies using forEach -->
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airport %></td>
          <td><%= f.airline %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
        
          <% }) %> 
    </tbody>
  </table>
  <%- include('../partials/footer.ejs') %>
</body>
</html>