<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Release Year: </div>
  <div><%= flight.airport %></div>
  <div>Flight No: </div>
  <div><%= flight.flightNo %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
</section>

</section>
<!-- new markup below -->
<br><br><h2>Tickets</h2>
<form id="add-tickets-form" method="POST"
  action="/flights/<%= flight._id %>/tickets">
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <select name="rating">
    <option value="1">Economy: $</option> 
    <option value="2">Business: $$</option>
    <option value="3">First Class: $$$</option>
  </select>
  <input type="submit" value="Add Review">
</form>
  
<%- include('../partials/footer') %>